.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  transition: background 0.5s, color 0.5s;
  height: 50vh;
}

/* Container Frase */
.container_frase {
  font-size: 20px;
  color: #cccccc;

  padding-bottom: 20px;
}
.container_frase p {
  padding-top: 30px;
}

/* Container Icones */
.container_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 40px;
  height: auto;
  object-fit: cover;
  padding: 5px;
}
.icon:hover {
  transform: translateY(-2px);
  transition: background 0.2s, color 0.2s;
}

/* NOME COPYRIGHT AMARELO */
.nome_amarelo {
  color: #feb633;
  font-weight: bold;
}
/* Tema Claro */
.light {
  background: #ffffff;
  color: #000000;
}

/* Tema Escuro */
.dark {
  background: #1e1e1e;
  color: #ffffff;
}
