.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  transition: background 0.5s, color 0.5s;
  height: 90vh;
  gap: 20px;
  box-sizing: border-box;
}

.titulo_experiencias {
  max-width: 800px;
  padding: 50px;
  text-align: center;
}
.titulo_experiencias h2 {
  font-size: 45px;
}
.linha {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #feb633;
  margin: 8px auto 0;
}
.titulo_experiencias p {
  font-size: 20px;
  color: #6c757d;
  padding-top: 15px;
}

.secao_cards {
  display: flex;
  flex-direction: row;
  gap: 0;
  items-align: center;
  justify-content: center;
  padding-bottom: 50px;
}

/* Tema Claro */
.light {
  background: #f6f8fc;
  color: #000000;
}

/* Tema Escuro */
.dark {
  background: #252525;
  color: #ffffff;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    padding-top: 0;
  }
  .titulo_experiencias {
    max-width: 100%;
    padding: 10px;
  }
  .titulo_experiencias h2 {
    font-size: 30px;
  }
  .titulo_experiencias p {
    font-size: 15px;
  }
  .secao_cards {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 50vw;
    height: 100%;
  }
}
@media (max-width: 1080px) {
  .container {
    width: 100%;
    padding: 15px;
  }
  .titulo_experiencias {
    max-width: 100%;
    padding: 15px;
  }
  .titulo_experiencias h2 {
    font-size: 35px;
  }
  .titulo_experiencias p {
    font-size: 18px;
  }
  .secao_cards {
    gap: 30px;

    height: 100%;
  }
}
