/* Estrutura do componente Topo */
.light,
.dark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  transition: background 0.5s, color 0.5s;
  height: 10vh;
  width: 100%;
  position: fixed;

  top: 0;
  left: 0; /* Defina um valor fixo */
  z-index: 1000;
}

/* Tema Claro */
.light {
  background: #ffffff;
  color: #000000;
}

/* Tema Escuro */
.dark {
  background: #000;
  color: #ffffff;
}

/* Estilizando o botão */
.btnFormat {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.light button {
  background: #ffffff;
  color: #022144;
}

.dark button {
  background: #022144;
  color: #ffffff;
}
